#################
## Eclipse
#################

*.pydevproject
.project
.metadata
bin/
gen/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
AndroidManifest.xml
project.properties




